body {
    position: relative;
    overflow-x: hidden;
}

body,
html {
    height: 100%;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: transparent;
}

/*-------------------------------*/
/*        Table styles           */
/*-------------------------------*/
.table td {
    vertical-align: middle;
}

.w-10 {
    width: 10% !important;
}

/*-------------------------------*/
/*    Copy                       */
/*-------------------------------*/
.underlined {
    text-decoration: underline;
    text-decoration-color: #6dafff;
}

/*-------------------------------*/
/*    Nav filters and buttons    */
/*-------------------------------*/
.navbar-filters {
    display: flex;
    width: 100%;
}

.navbar-filters.fixed-height {
    height: 54px;
}

.btn:not([disabled]) {
    cursor: pointer;
}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

.wrapper {
    padding-left: 50px;
    transition: all 0.5s ease;
}

.sidebar-wrapper {
    z-index: 1;
    margin-left: -220px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #1a1a1a;
    transition: all 0.5s ease;
}

.sidebar-wrapper:hover,
.sidebar-wrapper.visible {
    margin-left: -50px;
}

.sidebar-wrapper::-webkit-scrollbar {
    display: none;
}

.content-wrapper {
    width: 100%;
    padding: 20px;
}

.login-page {
    width: 600px;
    margin: 0 auto;
}

/*-------------------------------*/
/*           Sidebar             */
/*-------------------------------*/

.sidebar {
    position: fixed;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    background-color: #000;
    transition: all 0.5s ease-in-out;
    height: 100%;
    z-index: 1;
}

.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;

    transition: all 0.5s ease;
    width: 50px;
    height: 100%;
    margin-left: 170px;
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar-wrapper:hover .sidebar ul,
.sidebar-wrapper.visible .sidebar ul {
    width: auto;
    margin-left: 0;
}

.sidebar ul.sub-menu {
    height: auto;
}

.sidebar ul li {
    background-color: #222;
    width: 220px;
}

.sidebar li a, .sidebar li div, .sidebar li a.collapsed, .sidebar li div.collapsed {
    display: block;
    padding: 8px 12px;
    color: #fff;
    border-left: 0 solid #dedede;
    text-decoration: none
}

.sidebar li a.active {
    background-color: #000;
    border-left: 5px solid #dedede;
    transition: all 0.5s ease-in-out
}

.sidebar li a:hover {
    background-color: #000;
}

.sidebar li a i {
    padding-right: 5px;
}

.sidebar ul li .sub-menu li a {
    position: relative
}

.sidebar ul li .sub-menu li a:before {
    font-family: FontAwesome;
    content: "\f105"; /* fa-angle-right */
    display: inline-block;
    padding-left: 0;
    padding-right: 10px;
    vertical-align: middle;
}

.sidebar ul li .sub-menu li a:hover:after {
    content: "";
    position: absolute;
    left: -5px;
    top: 0;
    width: 5px;
    background-color: #111;
    height: 100%;
}

.sidebar ul li .sub-menu li a:hover {
    background-color: #000;
    padding-left: 20px;
    transition: all 0.5s ease-in-out
}

ul.list-sidebar > li i.fa.fa-fw:first-child {
    width: calc(50px - 12px - 12px); /* 12px margin on either side */
    margin-right: 12px;
}

ul.list-sidebar > li i.fa.pull-right {
    line-height: 24px;
    opacity: 0.4;
}

.sub-menu {
    border-left: 5px solid #dedede;
}

.sidebar li a .nav-label, .sidebar li a .nav-label + span {
    transition: all 0.5s ease-in-out
}

.sidebar.fliph li a .nav-label, .sidebar.fliph li a .nav-label + span {
    display: none;
    transition: all 0.5s ease-in-out
}

.sidebar.fliph {
    width: 42px;
    transition: all 0.5s ease-in-out;
}

.sidebar.fliph li {
    position: relative
}

.sidebar.fliph .sub-menu {
    position: absolute;
    left: 39px;
    top: 0;
    background-color: #222;
    width: 150px;
    z-index: 100;
}

.loader {
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}

.spinner {
    position: fixed;
    left: 50%;
    top: 50%;
}

canvas.dashboard-item {
    padding: 50px;
    width: 50% !important;
    height: 50% !important;
    float: left;
}

.v-fade-enter-active,
.v-fade-leave-active {
    transition: all .5s ease-in-out;
    max-height: 300px;
}

.v-fade-enter,
.v-fade-leave-to {
    opacity: 0;
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    border-top: 0;
    border-bottom: 0;
}

.modal.show {
    display: block;
}

.modal-xxl {
    max-width: 95%;
}

.modal-dialog,
.modal-content {
    height: 95%;
}

.modal-body {
    /* 100% = dialog height, 120px = header + footer. crossfingers */
    max-height: calc(100% - 20px);
    overflow-y: scroll;
}

.codebox {
    border: 1px solid #999;
    border-radius: 5px;
    padding: 1em;
}

.link:hover {
    text-decoration: underline;
    cursor: pointer;
}

/*-------------------------------*/
/*           Json Markup         */
/*-------------------------------*/

.json-markup {
    line-height: 17px;
    font-size: 13px;
    font-family: monospace;
    white-space: pre;
}

.json-markup-key {
    font-weight: bold;
}

.json-markup-bool {
    color: firebrick;
}

.json-markup-string {
    color: green;
}

.json-markup-null {
    color: gray;
}

.json-markup-number {
    color: blue;
}

/*-------------------------------*/
/*     Large/fullscreen graph    */
/*-------------------------------*/

.socialgraph-container {
    padding-left: 0;
    padding-right: 0;
}

.scroll-container {
    height: 100%;
    position: relative;
    overflow: auto;
}

.scroll-child {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.socialgraph-table th {
    font-size: 10px;
    padding: 0.3rem 0.15rem;
    color: #333;
    min-width: 20px;
    text-align: center;
}

.socialgraph-table td {
    word-break: break-word;
    word-wrap: break-word;
}

.socialgraph-table td.counter {
    text-align: center;
    color: #333;
    font-size: 10px;
}

.graph-large {
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;

    /* inline styles.....*/
    height: 100% !important;
    width: 100% !important;
}

.graph-close {
    z-index: 102;
    position: fixed;
    top: 5px;
    left: 5px;
}

/* graph colouring */
.socialgraph-table th.graph-out {
    color: #6eb97e;
}

.socialgraph-table th.graph-in {
    color: #a689cd;
}

.socialgraph-table th.graph-both {
    color: #ccce70;
}

.socialgraph-table tr.graph-out > td {
    background: #D6FFDD;
}

.socialgraph-table tr.graph-in > td {
    background: #E3DDFF;
}

.socialgraph-table tr.graph-both > td {
    background: #FEFFDD;
}

.socialgraph-table tr.graph-selected > td {
    background: #2b7ce9;
    border-color: #2b7ce9;
    color: #fff;
}

.socialgraph-table tr.graph-selected > td a {
    color: #fff;
}
